
@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: Playfair;
    src: url('Oswald/Oswald-VariableFont_wght.ttf');
} 
h1{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 1000;
    background: linear-gradient(purple, blue);
    color: white;
    word-spacing: 3px;
}
p{
    font-family: 'Playfair';
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;


